In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

df = pd.read_csv(r'F:\AppliedDataScience\data\ratingdf_likescore.csv')
print(len(df))
df.head()

10000

,Unnamed: 0,session_id,track_id,skip_1,skip_2,skip_3,not_skipped,context_switch,hist_user_behavior_reason_start,hist_user_behavior_reason_end,hist_user_behavior_is_shuffle,skip_score,liking,rating
0,0,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,0,0.0,0.0,1,0,1.0,1.0,1,1.0,3.0,4.0
1,1,0_00079a23-1600-486a-91bd-5208be0c745a,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,0,0.0,0.2,0,0,0.3,0.4,0,0.2,0.7,0.9
2,2,0_012b0fb4-0cc3-429f-9a78-cc6e622153fb,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,0,0.0,0.0,1,0,1.0,1.0,0,1.0,2.0,3.0
3,3,0_013cc010-c476-4ad2-8972-73449e0b2ef4,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,0,0.0,0.0,1,0,0.3,1.0,0,1.0,1.3,2.3
4,4,0_01a5f0dc-9938-48c9-92f1-c7e51f34d290,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,0,0.0,0.2,0,0,1.0,0.3,1,0.2,2.3,2.5

In [23]:
sm_data = df[['session_id','track_id']]

In [24]:
sm_data.head()

,session_id,track_id
0,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_0479f24c-27d2-46d6-a00c-7ec928f2b539
1,0_00079a23-1600-486a-91bd-5208be0c745a,t_0479f24c-27d2-46d6-a00c-7ec928f2b539
2,0_012b0fb4-0cc3-429f-9a78-cc6e622153fb,t_0479f24c-27d2-46d6-a00c-7ec928f2b539
3,0_013cc010-c476-4ad2-8972-73449e0b2ef4,t_0479f24c-27d2-46d6-a00c-7ec928f2b539
4,0_01a5f0dc-9938-48c9-92f1-c7e51f34d290,t_0479f24c-27d2-46d6-a00c-7ec928f2b539

In [25]:
dense_matrix2 = np.array(sm_data.as_matrix(columns = None), dtype=bool).astype(np.int)

In [26]:
dense_matrix2_df = pd.DataFrame(dense_matrix2)

In [27]:
dense_matrix2_df.head()

   0  1
0  1  1
1  1  1
2  1  1
3  1  1
4  1  1

In [28]:
dense_matrix2_df.rename(columns = {0:'session_id', 1:'track_id'}, inplace = True)

In [29]:
dense_matrix2_df.head()

   session_id  track_id
0           1         1
1           1         1
2           1         1
3           1         1
4           1         1

In [30]:
dense_matrix = np.array(df.as_matrix(columns = {'session_id','track_id'}), dtype=bool).astype(np.int)
sparse_matrix = sp.sparse.csr_matrix(dense_matrix)
dense_matrix_df = pd.DataFrame(dense_matrix)
arr = sparse_matrix.todense()

from numpy import array
from numpy import count_nonzero

sparsity = 1.0 - count_nonzero(dense_matrix) / dense_matrix.size
print(sparsity)

0.0

In [35]:
arr

matrix([[1, 1],
        [1, 1],
        [1, 1],
        ...,
        [1, 1],
        [1, 1],
        [1, 1]], dtype=int32)

In [56]:
arr_df = pd.DataFrame(arr,index = df.index,columns = ['session_id','track_id'])

In [59]:
arr_df.head()

   session_id  track_id
0           1         1
1           1         1
2           1         1
3           1         1
4           1         1

In [39]:
arr.shape

(10000, 2)

In [40]:
df.shape

(10000, 14)

In [48]:
sparse_matrix.shape

(10000, 2)

In [52]:
#dfs = pd.SparseDataFrame(arr,index=df.session_id,columns=df.track_id)

In [31]:
df.rating.describe()

count    10000.000000
mean         1.326170
std          1.472203
min         -1.100000
25%          0.300000
50%          1.200000
75%          2.900000
max          4.000000
Name: rating, dtype: float64

In [32]:
#gh = df.pivot(index = 'session_id', columns ='track_id', values = 'hist_user_behavior_is_shuffle').fillna(1)

In [60]:
#sns.heatmap(gh)
#plt.show()